/*             Display by Meng  Mao             */

body {
    font-family: sans-serif;
}

.edit-con {
    width: 80%;
    margin: auto;
}
nav {
    background: rgb(253, 253, 253);
    border-bottom: 1px solid blue;
}

nav ul {
    display: flex;
    align-content: space-between;
}

nav ul span {
    font-family: cursive;
    color: skyblue;
}

nav ul a li {
    list-style: none;
}

nav ul a {
    padding: 2%;
    color: rgb(18, 1, 255);
    text-decoration: none;
}

form{
    width: 94%;
    background-color: rgb(243, 243, 243);
    margin: auto;
    padding: 2%;
    padding-bottom: 7%;
    margin-bottom: -7%;
}

form .ol-edit {
    display: flex;
    background-color: rgb(255, 247, 248);
}

form .li-edit {
    list-style: none;
    width: 100%;
    height: 50px;
    color: black;
    margin-top: 4%;
}

input[type='radio'] {
    width: 0;
}

.pOfQuestion{
    background-color: rgb(0, 153, 255);
    text-align: center;
    padding: 2.5%;
    margin-bottom: 3%;
    color: white;
    margin-top: 3%;
    border-bottom: 2px solid blue;
}

.edit-con .question1 ol li {
    margin-top: 5%;
}


/*   ======>>>>>To set size of image tick >>>>>>====== */

.tickImg {
    margin-top: 2.5%;
    margin-right: 5%;
    width: 30px;
    height: 30px;
}
/*   To prepare footer of quiz */

.editBtn{
    margin-left: 85%;
    width: 4%;
    height: 5%;
    padding: -5%;
}
.removeBtn{
    margin-left: 3%;
    width: 4%;
    height: 5%;
    padding: -5%;
}

.createBtn{
    background-color: rgb(0, 153, 255);
    margin-left: 45%;
    padding:1.5% 4% ;
    font-size: large;
    font-weight: bold;
    border-radius: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: none;
}
.createBtn:hover{
    background-color: rgb(150, 172, 179);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* ===========================================border of Meng ====================================================== */
/* ========================add question=========================================== */

#btnAdd{

    padding: 12px 25px;
    margin-left: 90.4%;
    margin-top: 5px;
    background: rgb(0, 153, 255);
    border: none;

}
#question{
    width: 95%;
    padding: 20px;
}
#answer1,#answer2,#answer3,#answer4{
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    
}

#img{
    width: 2.5%;
    margin-left: 20px;
}
.addAnswer{
   display: flex;
    align-items: center;
}
